* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 50px;
  color: white;
  font-size: 16px;
}

.header {
  background-color: #d47e7e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}

.aside_left {
  background-color: #86d6be;
  flex-basis: 20%;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  background-color: #86a5d6;
  flex-basis: 60%;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside_right {
  background-color: pink;
  flex-basis: 20%;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #8986d6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .aside_left {
    flex-basis: 100%;
    order: 1;
  }

  .text {
    flex-basis: 70%;
  }

  .aside_right {
    flex-basis: 30%;
  }
  .footer {
    order: 2;
  }
}

@media (max-width: 768px) {
  .aside_left {
    flex-basis: 100%;
    order: 1;
  }

  .aside_right {
    flex-basis: 100%;
    order: 1;
  }

  .text {
    flex-basis: 100%;
  }

  .footer {
    order: 2;
  }
}
