.wrap {
  height: 500px;
  width: 300px;
  background-color: #f5f5dd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box {
  
  width: 100px;
  height: 100px;
  margin: 10px;

}

.aq {
  background-color: rgba(0, 0, 0, 0.999);
}

.bq {
  background-color: rgba(0, 0, 0, 0.8);
}

.cq {
  background-color: rgba(0, 0, 0, 0.7);
}

.dq {
  background-color: rgba(0, 0, 0, 0.5);
}
