.style {
  background-color: #faebd6;
}

.aq {
  color: rgba(0, 0, 0, 0.999);
}

.bq {
  color: rgba(50, 50, 50, 0.999);
}

.cq {
  color: rgba(125, 125, 125, 0.999);
}

.dq {
  color: rgba(170, 170, 170, 0.999);
}

.li1 {
  color: rgba(25, 129, 79, 0.999);
}

.li2 {
  color: rgba(160, 51, 51, 0.999);
}
.li3 {
  color: rgba(54, 32, 165, 0.999);
}

.li4 {
  color: rgba(125, 117, 178, 0.999);
}
